extends layout 
 
block content 
  h1= title 
 
  form(id='filmForm', action="/resource/films", method="POST") 
    div.form-group 
        label.filmAttr(for='name') Film Name 
        input#name(type='text', name='name') 
    div.form-group 
        label.filmAttr(for='director') Film Director 
        input#director(type='text', name='director') 
    div.form-group 
        label.filmAttr(for='duration') Film Duration 
        input#duration(type='number', name='duration', step='any') 
    input(type="submit") 
 
  script. 
    document.forms['filmForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 